# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .pdf & .zip
*.pdf
*.zip

# Specific folders
build/
other/

# Specific files
explicacion.txt

1_Taquin/1_Taquin.txt
2_Taquin/2_Taquin.txt
3_Trajectories/3_Trajectories.txt
4_Reversi/4_Reversi.txt
5_Pi/5_Pi.txt
6_TSP/6_TSP.txt
7_Queens/7_Queens.txt


0_Exam1/Alternativas/.txt

3_Trajectories/planificacion_trayectorias.depend

