# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .pdf
*.pdf

build/

1_Taquin/1_Taquin.txt
2_Taquin/2_Taquin.txt
2_Taquin/explicacion.txt

*.zip
