# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .pdf
*.pdf

build/

1_Taquin/1_Taquin.txt
2_Taquin/2_Taquin.txt
2_Taquin/explicacion.txt
3_Trayectories/explicacion.txt

*.zip

0_Exam1/Alternativas\.txt

3_Trajectories/planificacion_trayectorias\.depend

4_Reversi_Alpha_Beta/Other/

4_Reversi_Alpha_Beta/Explicacion\.txt

4_Reversi_Alpha_Beta/4_Reversi\.txt
